<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>1</TotalTime><Pages>67</Pages><Words>39902</Words><Characters>227447</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>1895</Lines><Paragraphs>533</Paragraphs><ScaleCrop>false</ScaleCrop><Company>Univeristy of Arizona</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>266816</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>12.0000</AppVersion></Properties>